{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid p-0 mt-4">
    <div class="row">
        <!-- Dashboard Sidebar -->
        {% include 'dashboards/sidebar.html' %}

        <!-- Right Side Panel -->
        <div class="col-lg-9 col-md-8 col-12">
            <h2 class="font-weight-bold mb-4" style="font-size: 1.75rem;">Create New Post</h2>
            
            <div class="p-4 rounded" style="background-color: var(--surface-color); border: 1px solid var(--border-color); max-width: 800px;">
                <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="mb-4">
                        {{ form|crispy }}
                    </div>
                    
                    <button type="submit" class="hallway-btn-gold px-4 py-2">
                        <i class="fa fa-check mr-1"></i> Create Post
                    </button>
                    <a href="{% url 'posts' %}" class="hallway-btn-outline ml-2 px-4 py-2">Cancel</a>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>

{% endblock %}