<div class="col-lg-3 col-md-4 col-12 mb-4">
    <div class="hallway-dash-sidebar">
        <div class="nav flex-column" aria-orientation="vertical">
            <a href="{% url 'dashboard' %}" class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}">
                <i class="fa fa-dashboard mr-2"></i> Dashboard
            </a>
            {% if perms.auth.view_user %}
            <a href="{% url 'users' %}" class="nav-link {% if '/users/' in request.path %}active{% endif %}">
                <i class="fa fa-users mr-2"></i> Users
            </a>
            {% endif %}
            <a href="{% url 'categories' %}" class="nav-link {% if '/categories/' in request.path %}active{% endif %}">
                <i class="fa fa-folder mr-2"></i> Categories
            </a>
            <a href="{% url 'posts' %}" class="nav-link {% if '/posts/' in request.path %}active{% endif %}">
                <i class="fa fa-file-text mr-2"></i> Posts
            </a>
        </div>
    </div>
</div>